.accordion {
  background-color: white;
  box-shadow: rem(0px) rem(50px) rem(50px) rem(-20px) rgba(53, 18, 122, 0.497159);
  border-radius: rem(23px);
  background-image: url("/images/bg-pattern-mobile.svg");
  background-repeat: no-repeat;
  background-position: top center;

  @include breakpoint-up(large) {
    background-image: none;
  }

  &__logo {
    transform: translateX(-50%);
    background-image: url("/images/illustration-woman-online-mobile.svg");
    background-repeat: no-repeat;
    background-position: right;
    width: rem(237px);
    height: rem(196px);


    @include breakpoint-up(large) {
      transform: none;
      width: 100%;
      height: auto;
      background-image: url("/images/illustration-woman-online-desktop.svg"), url("/images/bg-pattern-desktop.svg");
      background-position: rem(-86px) center, rem(-580px) 67%;

      &:after {
        content: '';
        background-image: url("/images/illustration-box-desktop.svg");
        background-repeat: no-repeat;
        background-size: contain;
        width: rem(191px);
        height: rem(184px);
        position: absolute;
        left: rem(-95px);
        top: 50%;
        transform: translateY(-25%);
        filter: drop-shadow(0px 25px 50px rgba(53, 18, 122, 0.497159));
      }
    }
  }

  &__FAQ {
    @include breakpoint-up(large) {
      min-width: rem(315px);
    }
  }

  &__header {
    text-align: center;
    font-size: rem(32px);
    font-weight: 700;

    @include breakpoint-up(large) {
      text-align: left;
    }
  }

  &__subheader {
    font-size: rem(13px);
    color: $veryDarkGrayBlue;
    cursor: pointer;
    transition: color 150ms ease-in-out;

    &:hover {
      color: $softRed;
    }

    &:after {
      content: '';
      background-image: url("/images/icon-arrow-down.svg");
      background-repeat: no-repeat;
      width: rem(10px);
      height: rem(7px);
      position: absolute;
      right: 0;
      top: rem(3px);

      transition: transform 150ms ease-in-out;
    }
  }

  &__checkbox {
    display: none;

    // If unchecked, don't display the text after it,
    &+.accordion__subheader+.accordion__wrapper {
      display: none;
    }

    // If checked, display the text...
    &:checked+.accordion__subheader+.accordion__wrapper {
      display: block;
    }

    // ...and also style the subheader/question differently
    &:checked+.accordion__subheader {
      font-weight: 700;
      color: $darkBlue;
      padding-bottom: 0;

      &:after {
        transform: rotate(180deg);
      }
    }
  }

  &__text {
    color: $darkGrayBlue;
    line-height: calc(18/12);
  }

  &__hr {
    border: 0;
    border-top: rem(1px) solid $lightGrayBlue;
  }
}