.accordion {
  padding: rem(132px) 7.34% rem(48px) 7.34%;
  background-color: white;
  box-shadow: rem(0px) rem(50px) rem(50px) rem(-20px) rgba(53, 18, 122, 0.497159);
  border-radius: rem(23px);
  position: relative;
  background-image: url("/images/bg-pattern-mobile.svg");
  background-repeat: no-repeat;
  background-position: top center;

  &__header {
    text-align: center;
    font-size: rem(32px);
    font-weight: 700;
    margin-bottom: rem(38px);

    @include breakpoint-up(medium) {
      text-align: left;
    }
  }

  &__subheader {
    font-size: rem(13px);
    padding-bottom: rem(20px);
    color: $veryDarkGrayBlue;
    display: block;
    cursor: pointer;
    transition: color 150ms ease-in-out;
    position: relative;

    &:hover {
      color: $softRed;
    }

    &:after {
      content: '';
      position: absolute;
      background-image: url("/images/icon-arrow-down.svg");
      background-repeat: no-repeat;
      right: 0;
      top: rem(3px);
      width: rem(10px);
      height: rem(7px);

      transition: transform 150ms ease-in-out;
    }
  }

  &__checkbox {
    display: none;

    // If unchecked, don't display the text after it,
    &+.accordion__subheader+.accordion__wrapper {
      display: none;
    }

    // If checked, display the text...
    &:checked+.accordion__subheader+.accordion__wrapper {
      display: block;
    }

    // ...and also style the subheader/question differently
    &:checked+.accordion__subheader {
      font-weight: 700;
      color: $darkBlue;
      padding-bottom: 0;

      &:after {
        transform: rotate(180deg);
      }
    }
  }

  &__wrapper {
    margin: rem(12px) 0 rem(16px) 0;
  }

  &__text {
    color: $darkGrayBlue;
    line-height: calc(18/12);
  }

  &__hr {
    border: 0;
    border-top: rem(1px) solid $lightGrayBlue;
    padding-bottom: rem(20px);
  }
}

.logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: rem(-107px);
  background-image: url("/images/illustration-woman-online-mobile.svg");
  background-repeat: no-repeat;
  background-position: right;
  width: rem(237px);
  height: rem(196px);
}