.accordion {
  padding: rem(132px) 7.34% rem(48px) 7.34%;
  background-color: white;
  box-shadow: rem(0px) rem(50px) rem(50px) rem(-20px) rgba(53, 18, 122, 0.497159);
  border-radius: rem(23px);
  position: relative;
  margin-top: rem(148px);

  &__header {
    text-align: center;
    font-size: rem(32px);
    font-weight: 700;

    @include breakpoint-up(medium) {
      text-align: left;
    }
  }

  &__subheader {
    font-size: rem(13px);
    color: $veryDarkGrayBlue;

    &:hover {
      color: $softRed;
    }
  }

  &__checkbox {}

  &__wrapper {}

  &__text {
    color: $darkGrayBlue;
    line-height: calc(18/12);
  }
}