.accordion {
  padding: 0 7.34%;

  &__header {
    text-align: center;
    font-size: rem(32px);
    font-weight: 700;

    @include breakpoint-up(medium) {
      text-align: left;
    }
  }

  &__subheader {
    font-size: rem(13px);
    color: $veryDarkGrayBlue;

    &:hover {
      color: $softRed;
    }
  }

  &__checkbox {}

  &__wrapper {}

  &__text {
    color: $darkGrayBlue;
    line-height: calc(18/12);
  }
}