html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background-image: -webkit-linear-gradient(top, $bgViolet 0%, $bgBlue 100%);
  background-image: linear-gradient(180deg, $bgViolet 0%, $bgBlue 100%);
  color: $darkBlue;
  font-family: 'Kumbh Sans', sans-serif;
  font-size: rem(12px);
  line-height: 1;
}

.attribution {
  bottom: 1rem;

  color: $lightGrayBlue;
  font-size: rem(13px);
  position: fixed;
  text-align: center;
  width: 100%;
  z-index: -1;

  & a {
    color: $softRed;
  }
}