.l {
  &-site-container {
    margin: 0 6.4%;
    padding: rem(148px) 0 rem(72px) 0;

    @include breakpoint-up(medium) {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      min-height: 100vh;


      padding: 9.028% 0;
    }
  }
}