$bgViolet: hsl(273, 75%, 66%);
$bgBlue: hsl(240, 73%, 65%);

$darkBlue: hsl(238, 29%, 16%);
$softRed: hsl(14, 88%, 65%);

$veryDarkGrayBlue: hsl(237, 12%, 33%);
$darkGrayBlue: hsl(240, 6%, 50%);
$lightGrayBlue: hsl(240, 5%, 91%);

$html-font-size: 16px;